<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" target="_blank" href="https://www.instagram.com/istegcekannur/"><i class="icon-social-instagram"></i></a></li>
      <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" target="_blank" href="https://www.linkedin.com/company/iste-gce-kannur/mycompany/"><i class="icon-social-linkedin"></i></a></li>
    </ul>
  </div><a class="js-scroll-trigger scroll-to-top rounded" href="#home"><i class="fa fa-angle-up"></i></a>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/stylish-portfolio.js"></script>
<script src="assets/js/Material-Inputs.js"></script>
<script src="assets/css/motion.js"></script>
<script src="assets/css/motion2.js"></script>
<script src="assets/css/motion3.js"></script>
<script src="assets/js/MUSA_input-helper.js"></script>
</body>

</html>